:root {
    --background: #ffffff;
    --foreground: #171717;

    --bg-header-open: #f2fafc;
}

@theme {
    --color-indigo-900: #261c3f;
    --color-sky-10: #f2fafc;
    --color-sky-20: #d7f8f9;
    --color-blue-1000: rgb(24, 15, 150);
    --color-blue-990: rgb(32, 47, 216);
    --color-blue-1010: #2222ff;

    --color-rose-750: rgb(255, 0, 78);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}