.label_input{
    font-size: 12px;
    padding: 5px;
}

.input_form{
    display: block;
    background-color: #0656ce17;
    color: black;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    border: 1px solid #5f96e7;
    border-radius: 10px;
}