.header {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #f2fafc;
}

.header .logo {
  width: clamp(130px, 50vw, 150px);
}

.header nav ul {
  display: flex;
}

.header nav li {
  margin: 0 10px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
}

.header a {
  color: rgb(46, 46, 46);
  font-weight: 600;

  font-size: 0.9em;
}
