@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  background-image: url("/image/topo02.jpg");

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Poppins", sans-serif;
}

main {
  padding: 20px;
}
